{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "ecmaVersion": "latest",
        "sourceType": "module",
        "requireConfigFile": false,
        "presets": [
            "@babel/preset-react"
        ]
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "no-restricted-exports": "off",
        "react/prop-types": "off",
        "import/prefer-default-export": "off",
        "prefer-promise-reject-errors": "off",
        "react/function-component-definition": [2, {
            "namedComponents": "arrow-function"
        }]
    }
}
